## Dates and Times in Python

datetime stores both the date and time down to the microsecond.

In [1]:
 from datetime import datetime

In [2]:
# fetching current date and time
s=datetime.now()
s

datetime.datetime(2023, 9, 21, 23, 55, 14, 701529)

see in the above time is in microsecond also

In [3]:
# checking s type it will give in date time formate
type(s)

datetime.datetime

In [4]:
# we can fetch day ,month ,year and hours,min,sec lets see
display(s.day , s.month, s.year, s.hour,s.minute,s.second)

21

9

2023

23

55

14

In [5]:
s.day,s.month,s.year,s.hour,s.minute,s.second

(21, 9, 2023, 23, 55, 14)

In [6]:
# if we print this things using print commnad it look like this
print(s.day,s.month,s.year,s.hour,s.minute,s.second,s.microsecond)

21 9 2023 23 55 14 701529

# Converting between string and datetime

### strptime()

The strptime() function in Python is used to format and return a string representation of date and time. It takes in the date, time, or both as an input, and parses it according to the directives given to it. It raises ValueError if the string cannot be formatted according to the provided.

The strptime() method creates a datetime object from the given string. 

Basically it covert string datetime format into datetime.datetime object()

For Example if date is given in the this format:- '02 september 2023' then it will format it in 02-09-2023
 (-) instead of using hypen you can use other thingd as well.
 

Syntax: datetime.strptime(time_data, format_data)

Parameter:

time_data is the time present in string format
format_data is the data present in datetime format which is converted from time_data using this function.

In [7]:
#Syntax: datetime.strptime(time_data, format_data)

#Parameter:
#time_data is the time present in string format
#format_data is the data present in datetime format which is converted from time_data using this function.

In [8]:
# taking a date as string in a variable
today_date='9/20/2023'
print(today_date)

9/20/2023

In [9]:
# checking the datattype of today_date variable
type(today_date)

str

In [10]:
#  now converting string datetime into datetime object
now=datetime.strptime(today_date, '%m/%d/%Y')
print(now)

2023-09-20 00:00:00

In [11]:
# checking its datatype
print(type(now))

<class 'datetime.datetime'>

As we can see the today_date variable is in string form after using the strptime() it has been formated or converted into the datetime object()

In [12]:
# again doing same thing as we have done above.
date='sep-20-23'
display(date,type(date))

'sep-20-23'

str

In [13]:
convert=datetime.strptime(date,'%b-%d-%Y')

ValueError: time data 'sep-20-23' does not match format '%b-%d-%Y'

Yes ,its give error as we mentioned earlier that It raises ValueError if the string cannot be formatted according to the provided.

the mistake is that instead of doing %y i have given %Y and in the  string it is only 23. for your reference visit https://strftime.org

In [14]:
# doing the correction to remove errors 
convert=datetime.strptime(date,'%b-%d-%y')
convert

datetime.datetime(2023, 9, 20, 0, 0)

In [15]:
type(convert)

datetime.datetime

In [16]:
passdate = datetime.strptime('20  December 2023', '%d %B %Y')

In [17]:
passdate

datetime.datetime(2023, 12, 20, 0, 0)

In [18]:
print(passdate)

2023-12-20 00:00:00

In [19]:
display(passdate.month, passdate.day,passdate.year)

12

20

2023

In [20]:
# here we can take date and time with am and pm and convert into datetime object 
df='12-01-2023 8:08:45 AM'
print(df)

12-01-2023 8:08:45 AM

In [21]:
type(df)

str

In [22]:
og=datetime.strptime(df, '%d-%m-%Y %I:%M:%S %p')
print(og)

2023-01-12 08:08:45

In [23]:
type(og)

datetime.datetime

# strftime() 
 
 
strftime() convert datetime object into string.

In [24]:
# fetching current time 
time= datetime.now()
print('date and time is in datetime object :',time)

date and time is in datetime object : 2023-09-21 23:56:00.936929

In [25]:
time

datetime.datetime(2023, 9, 21, 23, 56, 0, 936929)

In [26]:
# checking its data type 
type(time)

datetime.datetime

In [27]:
# using strftime() we can change datetime object into strings 
here=datetime.strftime(time, '%Y-%m-%d %I:%M:%S:%f')
print('date and time is in string:', here)

date and time is in string: 2023-09-21 11:56:00:936929

In [28]:
here

'2023-09-21 11:56:00:936929'

In [29]:
type(here)

str

In [30]:
# here we can extract year ,month ,weekday ,week etc
print(time.strftime('%Y'))

2023

In [31]:
# fetching Month from the tome variable
time.strftime('%m')

'09'

In [32]:
# fetching weekday from time variable 
time.strftime('%A')

'Thursday'

In [33]:
# fetching year from time varible 
time.strftime('%Y')

'2023'

In [34]:
# fetching hour from the tome variable
time.strftime('%H')

'23'

In [35]:
# fetching Minutes from the tome variable
time.strftime('%M')

'56'

In [36]:
# fetching second from the tome variable
time.strftime('%S')

'00'

In [37]:
# fetching microsecond from the tome variable
time.strftime('%f')

'936929'

In [38]:
# Fetching the number of week 
time.strftime('%W')

'38'

In [39]:
# we compare above output to the time variable we get same result 
print(time)

2023-09-21 23:56:00.936929

In [40]:
# shortcut for the fetching the dattime is  %D  it give dates in / /  manner lets see below 
time.strftime('%D')

'09/21/23'

In [41]:
# shortcut for the fetching the dattime is  %F  it give dates in - -   manner lets see below 
time.strftime('%F')

'2023-09-21'

# timedelta 

Represents the difference between two datetime values (as days, seconds, and microseconds) by doing minus ,additon and etc

In [42]:
t1=datetime(2022,1,1,8,15)
t2=datetime(2023,1,1)

In [43]:
type(t1)

datetime.datetime

In [44]:
type(t2)

datetime.datetime

In [45]:
# see time difference between this two t1 and t2
result=t2-t1
result

datetime.timedelta(days=364, seconds=56700)

As we can see getting difference between two dateand time its automaticaly given timedelta in output

In [46]:
result.days

364

In [47]:
result.seconds

56700

In [48]:
# checking the result data type
type(result)

datetime.timedelta

In [49]:
#fetching the current datetime 
t1=datetime.now()
print(t1)

2023-09-21 23:56:06.001314

In [50]:
# adding five days in t1 variable 
add=t1+5

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'int'

Yes, its give error if we want to add some more days in given day then we have to just import timedelta library

In [51]:
from datetime import timedelta
add=t1+timedelta(4)

In [52]:
print(add)

2023-09-25 23:56:06.001314

As we can see its easily added  and now showing date is 24

In [53]:
# fetching the day from the add variable
add.day

25

In [54]:
# fetching the day from the t1 variable

t1.day

21

In [55]:
# now performing the minus to get the actual days as we are  running four days before
diiference=add-t1

In [56]:
diiference

datetime.timedelta(days=4)

In the above all the function are good but there is things to rember a lot , so there is one more library i.e. dateutil.parser import parse in this easily string date can be  formated into datetime object by using parse.

# dateutil.parser import parse libary 
It used to format string date into datetime object like strptime but in strptime we have to write some codes parse is seasier then it.

dateutil is capable of parsing almost any human-intelligible date representation:

In [57]:
# import  dateutil.parse  libaray
from dateutil.parser import parse

In [58]:
# using dateutil parse lib
parse('20 september 2023')

datetime.datetime(2023, 9, 20, 0, 0)

In [59]:
#we can pasre  in variable also
date=parse('20 october 2023')

In [60]:
date

datetime.datetime(2023, 10, 20, 0, 0)

In [61]:

date = parse("4th of July, 2015")
date

datetime.datetime(2015, 7, 4, 0, 0)

In [62]:
# checking the datatype
type(date)

datetime.datetime

In [63]:
date.strftime('%A')

'Saturday'

dateutil is capable of parsing almost any human-intelligible date representation: like in timing AM or PM

In [64]:
# parseing the datetime with am and pm 
am=parse('10 september 2023 083003 AM')
am

datetime.datetime(2023, 9, 10, 8, 30, 3)

In [65]:
# fetching the day
am.strftime('%A')

'Sunday'

In [66]:
#fetching   whether its pm or am 
am.strftime('%p')

'AM'

In [67]:
oh=parse(' october 20 2023 10:45 PM')
oh

datetime.datetime(2023, 10, 20, 22, 45)

In [68]:
# fetching the am or pm at this time
oh.strftime('%A')

'Friday'

In [69]:
# by doing these we can get in local date time reperesenattion
oh.strftime('%c')

'Fri Oct 20 22:45:00 2023'

In international locales, day appearing before month is very common, so you can pass
dayfirst=True to indicate this:

In [70]:
dayfirst=parse('20/09/2023',)
dayfirst

datetime.datetime(2023, 9, 20, 0, 0)

In [71]:
type(dayfirst)

datetime.datetime

In [72]:

dayfirst=parse('20/09/2023',dayfirst=True)
dayfirst

datetime.datetime(2023, 9, 20, 0, 0)

# Dates and times in Pandas:

Timestamp object, which combines the ease of use of datetime and dateutil with the efficient storage.

From a group of these Timestamp objects,Pandas can construct a DatetimeIndex that can be used to index data in a Series or
DataFrame.

For example, we can use Pandas tools to repeat the demonstration from above. We can parse a flexibly formatted string date, and use format codes to output the day of the week

In [73]:
# Using the pandas tool to demonstrate datetime object
import pandas as pd

In [74]:
# using pd.to_datetime() 
date=pd.to_datetime('20 september 2023')
date

Timestamp('2023-09-20 00:00:00')

As we see above output it give us time stamp

In [75]:
# fetching day on above date
date.strftime('%A')

'Wednesday'

In [76]:
 type(date)

pandas._libs.tslibs.timestamps.Timestamp

In [77]:
t1=['20/10/2023', '30/10/2023']
t1

['20/10/2023', '30/10/2023']

In [78]:
pd.to_datetime(t1)

C:\Users\Asus\AppData\Local\Temp\ipykernel_18728\3917335952.py:1: UserWarning: Parsing '20/10/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(t1)
C:\Users\Asus\AppData\Local\Temp\ipykernel_18728\3917335952.py:1: UserWarning: Parsing '30/10/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(t1)

DatetimeIndex(['2023-10-20', '2023-10-30'], dtype='datetime64[ns]', freq=None)

Giving warning so we have to pass this infer_datetime_format=True

In [79]:
pd.to_datetime(t1,infer_datetime_format=True)

DatetimeIndex(['2023-10-20', '2023-10-30'], dtype='datetime64[ns]', freq=None)

# Pandas Time Series: Indexing by Time

Where the Pandas time series tools really become useful is when you begin to index
data by timestamps. For example, we can construct a Series object that has timeindexed data:

In [80]:
dates=pd.DatetimeIndex(['20/09/2022','21/09/2022',
                      '24/09/2023','25/09/2023'])
data=pd.Series([1,2,3,4],index=dates)
data

C:\Users\Asus\anaconda3\an\lib\site-packages\pandas\core\indexes\datetimes.py:327: UserWarning: Parsing '20/09/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dtarr = DatetimeArray._from_sequence_not_strict(
C:\Users\Asus\anaconda3\an\lib\site-packages\pandas\core\indexes\datetimes.py:327: UserWarning: Parsing '21/09/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dtarr = DatetimeArray._from_sequence_not_strict(
C:\Users\Asus\anaconda3\an\lib\site-packages\pandas\core\indexes\datetimes.py:327: UserWarning: Parsing '24/09/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dtarr = DatetimeArray._from_sequence_not_strict(
C:\Users\Asus\anaconda3\an\lib\site-packages\pandas\core\indexes\datetimes.py:327: UserWarning: Parsing '25/09/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dtarr = DatetimeArray._from_sequence_not_strict(

2022-09-20    1
2022-09-21    2
2023-09-24    3
2023-09-25    4
dtype: int64

In [81]:
# slicing the data acording to dates i.e 21 to 25 
data['2023-09-21':'2023-09-25']

2023-09-24    3
2023-09-25    4
dtype: int64

In [82]:
# slicing the data acording to dates i.e 20 to 24
data['2023-09-20':'2023-09-24']

2023-09-24    3
dtype: int64

In [83]:
# we can slicing the data acc. to year also
data['2023']

2023-09-24    3
2023-09-25    4
dtype: int64

In [84]:
# checking the datatype of data
type(data)

pandas.core.series.Series

In [85]:
# now making  a datetime list and storing in a variable datetime
from datetime import datetime
datetime=([datetime(20,9,23),datetime(21,10,23),datetime(22,11,23),datetime(23,12,23)])
datetime

[datetime.datetime(20, 9, 23, 0, 0),
 datetime.datetime(21, 10, 23, 0, 0),
 datetime.datetime(22, 11, 23, 0, 0),
 datetime.datetime(23, 12, 23, 0, 0)]

In [86]:
# the datatype is list to cehck we can move further
type(datetime)

list

In [87]:

series=pd.Series(np.arange(4),index=datetime)
series

NameError: name 'np' is not defined

In [88]:
#cecking the datatype of series
type(series)

NameError: name 'series' is not defined

In [89]:
series.index

NameError: name 'series' is not defined

In [90]:
 series + series[::2]

NameError: name 'series' is not defined

In [91]:
series.index.dtype

NameError: name 'series' is not defined

# Pandas  pd.to_datetime()

syntax:- Signature:
pd.to_datetime(
    arg: 'DatetimeScalarOrArrayConvertible',
    errors: 'str' = 'raise',
    dayfirst: 'bool' = False,
    yearfirst: 'bool' = False,
    utc: 'bool | None' = None,
    format: 'str | None' = None,
    exact: 'bool' = True,
    unit: 'str | None' = None,
    infer_datetime_format: 'bool' = False,
    origin='unix',
    cache: 'bool' = True,) 
    
    
 it is very flexible to use in  pd.to_datetime() you can pass any kind of dateformat it will give you in datetimeindex lets see in example

In [92]:
# taking a variable dates which store all the dates in list
dates=['20-09-2023','4 august 2024','15 dec 2023','24/09/23','20230209']
display(dates,type(dates))

['20-09-2023', '4 august 2024', '15 dec 2023', '24/09/23', '20230209']

list

In [93]:
# these dates varible passing in  pd.to_datetime() which gives datetimeindex lets see below example
datetimeindex=pd.to_datetime(dates)
datetimeindex

C:\Users\Asus\AppData\Local\Temp\ipykernel_18728\3814027801.py:2: UserWarning: Parsing '20-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  datetimeindex=pd.to_datetime(dates)

DatetimeIndex(['2023-09-20', '2024-08-04', '2023-12-15', '2023-09-24',
               '2023-02-09'],
              dtype='datetime64[ns]', freq=None)

As we can see in the above output it has  '20230209','15 dec 2023' type of date into the datetime index

In [94]:
# type of data
type(datetimeindex)

pandas.core.indexes.datetimes.DatetimeIndex

Us we know in US they use mm/dd/yyyy datefromate and in europe they use dd/mm/yyyy dateformat and in india we follow europe datetime fromat

In [95]:
# below time format is in mm/dd/yyyy 
pd.to_datetime('09/10/2023')

Timestamp('2023-09-10 00:00:00')

In [96]:
# converting the above datetime format into the dd/mm/yyyy by passing dayfirst=True
pd.to_datetime('09/10/2023',dayfirst=True)

Timestamp('2023-10-09 00:00:00')

In [97]:
# we have string in the dates variable then it give variable to 
dates=['20-09-2023','4 august 2024','15 dec 2023','24/09/23','20230209','abc','bhda']
pd.to_datetime(dates)

C:\Users\Asus\AppData\Local\Temp\ipykernel_18728\3581391213.py:3: UserWarning: Parsing '20-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(dates)

ParserError: Unknown string format: abc

As we mentine in the comment it will give an error it has given an error also to deal with this type of error we simply pass the errors=coerce lets see in the below exapmle

In [ ]:
pd.to_datetime(dates,errors='coerce')

See as we have mentioned it has given an Nat value that is NaT which is not a time it is equalvalent to NaN not a number

# pd.to_period() function 

Any DatetimeIndex can be converted to a PeriodIndex with the to_period() func‐tion with the addition of a frequency code; here we’ll use 'D' to indicate daily frequency:

it mean by passing the week days in to_period() we can get days on that date

In [98]:
# created a new variable to deall with period
newdate=['230425','12 september 2023','dhh']
newdate

['230425', '12 september 2023', 'dhh']

In [99]:
pd.to_datetime(newdate,errors='coerce')

DatetimeIndex(['2025-04-23', '2023-09-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [100]:
# using .to_period()
dates.to_period('D')

AttributeError: 'list' object has no attribute 'to_period'

In [101]:
# here it will extract year and month
dates.to_period('M')

AttributeError: 'list' object has no attribute 'to_period'

In [102]:
# here it will  extract year
dates.to_period('Y')

AttributeError: 'list' object has no attribute 'to_period'

# Regular sequences: pd.date_range()

pd.date_range() is used to provide range of the date by passing start and endpoint it will also work by providing startpoint and period period an dby default its give frequency in 'D' that is days.

syntax pd.date_range(
    start=None,
    end=None,
    periods=None,
    freq=None,
    tz=None,
    normalize: 'bool' = False,
    name: 'Hashable' = None,
    closed: 'str | None | lib.NoDefault' = <no_default>,
    inclusive: 'str | None' = None,
    **kwargs,
)

In [103]:
# using pd.date_range function for the date
range=pd.date_range(start='21/09/23', end='30/09/23')
range

DatetimeIndex(['2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30'],
              dtype='datetime64[ns]', freq='D')

In [104]:
# checking the data type 
type(range)

pandas.core.indexes.datetimes.DatetimeIndex

Alternatively, the date range can be specified not with a start- and endpoint, but with
a startpoint and a number of periods:

By passing periods we can get number of day

In [105]:
# making use of periods 
pd.date_range('21/09/23', periods=10)

DatetimeIndex(['2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30'],
              dtype='datetime64[ns]', freq='D')

You can modify the spacing by altering the freq argument, which defaults to D. For
example, here we will construct a range of hourly timestamps:

In [106]:
# using freq in hours 
pd.date_range('21/09/23',periods=5,freq='H')

DatetimeIndex(['2023-09-21 00:00:00', '2023-09-21 01:00:00',
               '2023-09-21 02:00:00', '2023-09-21 03:00:00',
               '2023-09-21 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [107]:
# using freq to get year
pd.date_range('21/09/23',periods=4,freq='Y')

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31'], dtype='datetime64[ns]', freq='A-DEC')

To create regular sequences of period or time delta values, the very similar
pd.period_range() and pd.timedelta_range() functions are useful. Here are some
monthly periods:
    
regular sequence mean in form of same date as you have passed at  the startpoint it will create in same sequence using pd.period_range()

In [108]:
# getting only business end of month by passing 'BM' in freq it will extract only from the end of month day i.e last working day from everymonthhe first moth and 31 from the next month
pd.date_range('1/1/23','1/1/24',freq='BM')

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-29', '2023-10-31', '2023-11-30', '2023-12-29'],
              dtype='datetime64[ns]', freq='BM')

Simply it will extract lastday from the every month

date_range by default preserves the time (if any) of the start or end timestamp

Basically it take same time whatever in the start or endpoint

In [109]:
# showing that date_range() preserve time from the given end or startingpoitn 
pd.date_range('21/09/23 9:30:02 ','30/09/23')

DatetimeIndex(['2023-09-21 09:30:02', '2023-09-22 09:30:02',
               '2023-09-23 09:30:02', '2023-09-24 09:30:02',
               '2023-09-25 09:30:02', '2023-09-26 09:30:02',
               '2023-09-27 09:30:02', '2023-09-28 09:30:02',
               '2023-09-29 09:30:02'],
              dtype='datetime64[ns]', freq='D')

In [110]:
pd.date_range('21/09/23 10:6:8','30/09/23')

DatetimeIndex(['2023-09-21 10:06:08', '2023-09-22 10:06:08',
               '2023-09-23 10:06:08', '2023-09-24 10:06:08',
               '2023-09-25 10:06:08', '2023-09-26 10:06:08',
               '2023-09-27 10:06:08', '2023-09-28 10:06:08',
               '2023-09-29 10:06:08'],
              dtype='datetime64[ns]', freq='D')

In [111]:
# fetching the last day of everymonth  2 months 
pd.date_range('01/09/23',periods=6,freq='2M')

DatetimeIndex(['2023-01-31', '2023-03-31', '2023-05-31', '2023-07-31',
               '2023-09-30', '2023-11-30'],
              dtype='datetime64[ns]', freq='2M')

In [112]:
# getting a time zon by passing in  tz  i.e time zone
pd.date_range('10/9/23', periods=10,tz='Asia/Tokyo')

DatetimeIndex(['2023-10-09 00:00:00+09:00', '2023-10-10 00:00:00+09:00',
               '2023-10-11 00:00:00+09:00', '2023-10-12 00:00:00+09:00',
               '2023-10-13 00:00:00+09:00', '2023-10-14 00:00:00+09:00',
               '2023-10-15 00:00:00+09:00', '2023-10-16 00:00:00+09:00',
               '2023-10-17 00:00:00+09:00', '2023-10-18 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='D')

Sometimes you will have start or end dates with time information but want to generate
a set of timestamps normalized to midnight as a convention. To do this, there is a
normalize option:

In [113]:
# using normalize 

pd.date_range('21/09/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25'],
              dtype='datetime64[ns]', freq='D')

# pd.period_range()

To create regular sequences of period or time delta values, the very similar
pd.period_range() and pd.timedelta_range() functions are useful.


sytnax pd.period_range(
    start=None,
    end=None,
    periods: 'int | None' = None,
    freq=None,
    name=None,
)

In [114]:
# creating a regular sequence
pd.period_range('2023/09',periods=10, freq='Y')

PeriodIndex(['2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030',
             '2031', '2032'],
            dtype='period[A-DEC]')

we can see in the output its in a regular sequence manner at freq Y and its  has given only year rather then whole date which is good its a benefits of using pd.period_range we can change our freqas we want or wish

In [115]:
# creating a regular sequence with months
pd.period_range('2023-09', periods=8, freq='M')

PeriodIndex(['2023-09', '2023-10', '2023-11', '2023-12', '2024-01', '2024-02',
             '2024-03', '2024-04'],
            dtype='period[M]')

using pd.timedelta_range we can get  a sequence of durations increasing by an hour: 

Basically it will give us duration between the dates periods.

In [116]:
# pd.timedelta_range() performing
pd.timedelta_range('0',periods=8,freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [117]:
#getting year 
pd.period_range('2021/09/5',freq='Y',periods=12)

PeriodIndex(['2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028',
             '2029', '2030', '2031', '2032'],
            dtype='period[A-DEC]')

In [118]:
# getting Quarter wise 
pd.period_range('2021/09/5',freq='Q',periods=12)

PeriodIndex(['2021Q3', '2021Q4', '2022Q1', '2022Q2', '2022Q3', '2022Q4',
             '2023Q1', '2023Q2', '2023Q3', '2023Q4', '2024Q1', '2024Q2'],
            dtype='period[Q-DEC]')

In [119]:
# fetching  months from the quarter months
pd.period_range(pd.Period('2023Q1',freq='Q'),pd.Period('2023Q2',freq='Q'),freq='M')

PeriodIndex(['2023-03', '2023-04', '2023-05', '2023-06'], dtype='period[M]')

# Frequencies and Date Offsets

In this we can see what else can we pass more in freq parameter using date_range()

In [120]:
# getting the diffrence of 4 hours  between datetime  
pd.date_range('21/09/23', periods=8,freq='4H')

DatetimeIndex(['2023-09-21 00:00:00', '2023-09-21 04:00:00',
               '2023-09-21 08:00:00', '2023-09-21 12:00:00',
               '2023-09-21 16:00:00', '2023-09-21 20:00:00',
               '2023-09-22 00:00:00', '2023-09-22 04:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [121]:
# getting the diffrence of 130 min between datetime  

pd.date_range('21/09/23', periods=8,freq='130min')

DatetimeIndex(['2023-09-21 00:00:00', '2023-09-21 02:10:00',
               '2023-09-21 04:20:00', '2023-09-21 06:30:00',
               '2023-09-21 08:40:00', '2023-09-21 10:50:00',
               '2023-09-21 13:00:00', '2023-09-21 15:10:00'],
              dtype='datetime64[ns]', freq='130T')

In [122]:
# using  passing freqWOM it will give week of the month 
pd.date_range('21/09/23', periods=8,freq=' WOM-4Fri')

DatetimeIndex(['2023-09-22', '2023-10-27', '2023-11-24', '2023-12-22',
               '2024-01-26', '2024-02-23', '2024-03-22', '2024-04-26'],
              dtype='datetime64[ns]', freq='WOM-4FRI')

# Shifting (Leading and Lagging) Data

In Shifting (Leading and Lagging) Data  we make use of shift().

Shift()method is used for moving data backward and forward through time.

Both Series and DataFrame have a shift method for doing naive shifts forward or backward.

syntax:
okay12.shift(
    periods=1,
    freq: 'Frequency | None' = None,
    axis: 'Axis' = 0,
    fill_value=<no_default>,)

In [123]:
# genrating date range using through  pd.date_range() method

shift=pd.date_range(start='23/09/23', periods=10)
shift

DatetimeIndex(['2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', freq='D')

In [124]:
# creating a dataframe 
hey=pd.DataFrame({'Price':[120,13,1400,250,34,21,400,560,23,9000]})
okay12=hey.set_index(shift)
okay12

            Price
2023-09-23    120
2023-09-24     13
2023-09-25   1400
2023-09-26    250
2023-09-27     34
2023-09-28     21
2023-09-29    400
2023-09-30    560
2023-10-01     23
2023-10-02   9000

In [125]:
# now shifting the price
okay12.shift(1)

             Price
2023-09-23     NaN
2023-09-24   120.0
2023-09-25    13.0
2023-09-26  1400.0
2023-09-27   250.0
2023-09-28    34.0
2023-09-29    21.0
2023-09-30   400.0
2023-10-01   560.0
2023-10-02    23.0

The above shifting is in the forward direction if we want do do shifting in the backward direction then we have to pass simply shift(-1) instead of shift(1).

We can also shift 2 steps by simply passing 2 in the shift() method like shift(2)

In [126]:
# shifting the price to step forward 
okay12.shift(2)

             Price
2023-09-23     NaN
2023-09-24     NaN
2023-09-25   120.0
2023-09-26    13.0
2023-09-27  1400.0
2023-09-28   250.0
2023-09-29    34.0
2023-09-30    21.0
2023-10-01   400.0
2023-10-02   560.0

As result we can see its forwarded two step down as you compare with okay1 df then you will see that whatever price on first index 120 after doing shifting two step down at index 3 yo can see 120 is shifted at index 3.

In [127]:
# now using the backward steps 
okay12.shift(-1)

             Price
2023-09-23    13.0
2023-09-24  1400.0
2023-09-25   250.0
2023-09-26    34.0
2023-09-27    21.0
2023-09-28   400.0
2023-09-29   560.0
2023-09-30    23.0
2023-10-01  9000.0
2023-10-02     NaN

As backward shift is vice versa of  the forward shift as we can see we have shifted one step backward at last index if you see in output the price column is shifted towards upper side .

In [128]:
okay12.shift(-2)

             Price
2023-09-23  1400.0
2023-09-24   250.0
2023-09-25    34.0
2023-09-26    21.0
2023-09-27   400.0
2023-09-28   560.0
2023-09-29    23.0
2023-09-30  9000.0
2023-10-01     NaN
2023-10-02     NaN

In [129]:
# adding one more column in okay1 df
okay12['Forward steps']=okay12.shift(1)

In [130]:
okay12

            Price  Forward steps
2023-09-23    120            NaN
2023-09-24     13          120.0
2023-09-25   1400           13.0
2023-09-26    250         1400.0
2023-09-27     34          250.0
2023-09-28     21           34.0
2023-09-29    400           21.0
2023-09-30    560          400.0
2023-10-01     23          560.0
2023-10-02   9000           23.0

In [131]:
okay12['Forward steps']=okay12['Price'].shift(2)
okay12

            Price  Forward steps
2023-09-23    120            NaN
2023-09-24     13            NaN
2023-09-25   1400          120.0
2023-09-26    250           13.0
2023-09-27     34         1400.0
2023-09-28     21          250.0
2023-09-29    400           34.0
2023-09-30    560           21.0
2023-10-01     23          400.0
2023-10-02   9000          560.0

In [132]:
okay12['Forward steps']=okay12['Price'].shift(5)
okay12

            Price  Forward steps
2023-09-23    120            NaN
2023-09-24     13            NaN
2023-09-25   1400            NaN
2023-09-26    250            NaN
2023-09-27     34            NaN
2023-09-28     21          120.0
2023-09-29    400           13.0
2023-09-30    560         1400.0
2023-10-01     23          250.0
2023-10-02   9000           34.0

In [133]:
# adding one more column for the backward direction steps
okay12['backward steps']=okay12['Price'].shift(-1)
okay12

            Price  Forward steps  backward steps
2023-09-23    120            NaN            13.0
2023-09-24     13            NaN          1400.0
2023-09-25   1400            NaN           250.0
2023-09-26    250            NaN            34.0
2023-09-27     34            NaN            21.0
2023-09-28     21          120.0           400.0
2023-09-29    400           13.0           560.0
2023-09-30    560         1400.0            23.0
2023-10-01     23          250.0          9000.0
2023-10-02   9000           34.0             NaN

In [134]:
okay12['backward steps']=okay12['Price'].shift(-2)
okay12

            Price  Forward steps  backward steps
2023-09-23    120            NaN          1400.0
2023-09-24     13            NaN           250.0
2023-09-25   1400            NaN            34.0
2023-09-26    250            NaN            21.0
2023-09-27     34            NaN           400.0
2023-09-28     21          120.0           560.0
2023-09-29    400           13.0            23.0
2023-09-30    560         1400.0          9000.0
2023-10-01     23          250.0             NaN
2023-10-02   9000           34.0             NaN

In [135]:
okay12['backward steps']=okay12['Price'].shift(-5)
okay12

            Price  Forward steps  backward steps
2023-09-23    120            NaN            21.0
2023-09-24     13            NaN           400.0
2023-09-25   1400            NaN           560.0
2023-09-26    250            NaN            23.0
2023-09-27     34            NaN          9000.0
2023-09-28     21          120.0             NaN
2023-09-29    400           13.0             NaN
2023-09-30    560         1400.0             NaN
2023-10-01     23          250.0             NaN
2023-10-02   9000           34.0             NaN

# while passing in freq parameter it will do changes in the index

As if we pass any date offeset in the freq then it will change in the index values for more information visit this link
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shift.html

In [142]:
# extracting the month end in each month and as i ahve explainedd it will  show changes in the index
change_month=okay12.shift(1,freq='M')
display(change_month,okay12)

            Price  Forward steps  backward steps
2023-09-30    120            NaN            21.0
2023-09-30     13            NaN           400.0
2023-09-30   1400            NaN           560.0
2023-09-30    250            NaN            23.0
2023-09-30     34            NaN          9000.0
2023-09-30     21          120.0             NaN
2023-09-30    400           13.0             NaN
2023-10-31    560         1400.0             NaN
2023-10-31     23          250.0             NaN
2023-10-31   9000           34.0             NaN

            Price  Forward steps  backward steps
2023-09-23    120            NaN            21.0
2023-09-24     13            NaN           400.0
2023-09-25   1400            NaN           560.0
2023-09-26    250            NaN            23.0
2023-09-27     34            NaN          9000.0
2023-09-28     21          120.0             NaN
2023-09-29    400           13.0             NaN
2023-09-30    560         1400.0             NaN
2023-10-01     23          250.0             NaN
2023-10-02   9000           34.0             NaN

In [144]:
#Extracting the  Month start i.e first date of  months 
okay12.shift(2,freq='MS')

            Price  Forward steps  backward steps
2023-11-01    120            NaN            21.0
2023-11-01     13            NaN           400.0
2023-11-01   1400            NaN           560.0
2023-11-01    250            NaN            23.0
2023-11-01     34            NaN          9000.0
2023-11-01     21          120.0             NaN
2023-11-01    400           13.0             NaN
2023-11-01    560         1400.0             NaN
2023-12-01     23          250.0             NaN
2023-12-01   9000           34.0             NaN

In [145]:
# extracting the QS Quarter start
okay12.shift(3,freq='QS')

            Price  Forward steps  backward steps
2024-04-01    120            NaN            21.0
2024-04-01     13            NaN           400.0
2024-04-01   1400            NaN           560.0
2024-04-01    250            NaN            23.0
2024-04-01     34            NaN          9000.0
2024-04-01     21          120.0             NaN
2024-04-01    400           13.0             NaN
2024-04-01    560         1400.0             NaN
2024-07-01     23          250.0             NaN
2024-07-01   9000           34.0             NaN

In [146]:
# extracting the W-SUN week sunday
okay12.shift(1,freq='W-SUN')

            Price  Forward steps  backward steps
2023-09-24    120            NaN            21.0
2023-10-01     13            NaN           400.0
2023-10-01   1400            NaN           560.0
2023-10-01    250            NaN            23.0
2023-10-01     34            NaN          9000.0
2023-10-01     21          120.0             NaN
2023-10-01    400           13.0             NaN
2023-10-01    560         1400.0             NaN
2023-10-08     23          250.0             NaN
2023-10-08   9000           34.0             NaN

In [147]:
# extracting the time 1:30 i.e 90T
okay12.shift(1,freq='90T')

                     Price  Forward steps  backward steps
2023-09-23 01:30:00    120            NaN            21.0
2023-09-24 01:30:00     13            NaN           400.0
2023-09-25 01:30:00   1400            NaN           560.0
2023-09-26 01:30:00    250            NaN            23.0
2023-09-27 01:30:00     34            NaN          9000.0
2023-09-28 01:30:00     21          120.0             NaN
2023-09-29 01:30:00    400           13.0             NaN
2023-09-30 01:30:00    560         1400.0             NaN
2023-10-01 01:30:00     23          250.0             NaN
2023-10-02 01:30:00   9000           34.0             NaN

In [148]:
okay12.shift(1,freq='120T')

                     Price  Forward steps  backward steps
2023-09-23 02:00:00    120            NaN            21.0
2023-09-24 02:00:00     13            NaN           400.0
2023-09-25 02:00:00   1400            NaN           560.0
2023-09-26 02:00:00    250            NaN            23.0
2023-09-27 02:00:00     34            NaN          9000.0
2023-09-28 02:00:00     21          120.0             NaN
2023-09-29 02:00:00    400           13.0             NaN
2023-09-30 02:00:00    560         1400.0             NaN
2023-10-01 02:00:00     23          250.0             NaN
2023-10-02 02:00:00   9000           34.0             NaN