## Dates and Times in Python

datetime stores both the date and time down to the microsecond.

In [1]:
 from datetime import datetime

In [2]:
# fetching current date and time
s=datetime.now()
s

datetime.datetime(2023, 9, 22, 23, 22, 13, 691447)

see in the above time is in microsecond also

In [3]:
# checking s type it will give in date time formate
type(s)

datetime.datetime

In [4]:
# we can fetch day ,month ,year and hours,min,sec lets see
display(s.day , s.month, s.year, s.hour,s.minute,s.second)

22

9

2023

23

22

13

In [5]:
s.day,s.month,s.year,s.hour,s.minute,s.second

(22, 9, 2023, 23, 22, 13)

In [6]:
# if we print this things using print commnad it look like this
print(s.day,s.month,s.year,s.hour,s.minute,s.second,s.microsecond)

22 9 2023 23 22 13 691447

# Converting between string and datetime

### strptime()

The strptime() function in Python is used to format and return a string representation of date and time. It takes in the date, time, or both as an input, and parses it according to the directives given to it. It raises ValueError if the string cannot be formatted according to the provided.

The strptime() method creates a datetime object from the given string. 

Basically it covert string datetime format into datetime.datetime object()

For Example if date is given in the this format:- '02 september 2023' then it will format it in 02-09-2023
 (-) instead of using hypen you can use other thingd as well.
 

Syntax: datetime.strptime(time_data, format_data)

Parameter:

time_data is the time present in string format
format_data is the data present in datetime format which is converted from time_data using this function.

In [7]:
#Syntax: datetime.strptime(time_data, format_data)

#Parameter:
#time_data is the time present in string format
#format_data is the data present in datetime format which is converted from time_data using this function.

In [8]:
# taking a date as string in a variable
today_date='9/20/2023'
print(today_date)

9/20/2023

In [9]:
# checking the datattype of today_date variable
type(today_date)

str

In [10]:
#  now converting string datetime into datetime object
now=datetime.strptime(today_date, '%m/%d/%Y')
print(now)

2023-09-20 00:00:00

In [11]:
# checking its datatype
print(type(now))

<class 'datetime.datetime'>

As we can see the today_date variable is in string form after using the strptime() it has been formated or converted into the datetime object()

In [12]:
# again doing same thing as we have done above.
date='sep-20-23'
display(date,type(date))

'sep-20-23'

str

In [13]:
convert=datetime.strptime(date,'%b-%d-%Y')

ValueError: time data 'sep-20-23' does not match format '%b-%d-%Y'

Yes ,its give error as we mentioned earlier that It raises ValueError if the string cannot be formatted according to the provided.

the mistake is that instead of doing %y i have given %Y and in the  string it is only 23. for your reference visit https://strftime.org

In [19]:
# doing the correction to remove errors 
convert=datetime.strptime(date,'%b-%d-%y')
convert

datetime.datetime(2023, 9, 20, 0, 0)

In [20]:
type(convert)

datetime.datetime

In [21]:
passdate = datetime.strptime('20  December 2023', '%d %B %Y')

In [22]:
passdate

datetime.datetime(2023, 12, 20, 0, 0)

In [23]:
print(passdate)

2023-12-20 00:00:00

In [24]:
display(passdate.month, passdate.day,passdate.year)

12

20

2023

In [25]:
# here we can take date and time with am and pm and convert into datetime object 
df='12-01-2023 8:08:45 AM'
print(df)

12-01-2023 8:08:45 AM

In [26]:
type(df)

str

In [27]:
og=datetime.strptime(df, '%d-%m-%Y %I:%M:%S %p')
print(og)

2023-01-12 08:08:45

In [28]:
type(og)

datetime.datetime

# strftime() 
 
 
strftime() convert datetime object into string.

In [29]:
# fetching current time 
time= datetime.now()
print('date and time is in datetime object :',time)

date and time is in datetime object : 2023-09-22 23:22:41.472106

In [30]:
time

datetime.datetime(2023, 9, 22, 23, 22, 41, 472106)

In [31]:
# checking its data type 
type(time)

datetime.datetime

In [32]:
# using strftime() we can change datetime object into strings 
here=datetime.strftime(time, '%Y-%m-%d %I:%M:%S:%f')
print('date and time is in string:', here)

date and time is in string: 2023-09-22 11:22:41:472106

In [33]:
here

'2023-09-22 11:22:41:472106'

In [34]:
type(here)

str

In [35]:
# here we can extract year ,month ,weekday ,week etc
print(time.strftime('%Y'))

2023

In [36]:
# fetching Month from the tome variable
time.strftime('%m')

'09'

In [37]:
# fetching weekday from time variable 
time.strftime('%A')

'Friday'

In [38]:
# fetching year from time varible 
time.strftime('%Y')

'2023'

In [39]:
# fetching hour from the tome variable
time.strftime('%H')

'23'

In [40]:
# fetching Minutes from the tome variable
time.strftime('%M')

'22'

In [41]:
# fetching second from the tome variable
time.strftime('%S')

'41'

In [42]:
# fetching microsecond from the tome variable
time.strftime('%f')

'472106'

In [43]:
# Fetching the number of week 
time.strftime('%W')

'38'

In [44]:
# we compare above output to the time variable we get same result 
print(time)

2023-09-22 23:22:41.472106

In [45]:
# shortcut for the fetching the dattime is  %D  it give dates in / /  manner lets see below 
time.strftime('%D')

'09/22/23'

In [46]:
# shortcut for the fetching the dattime is  %F  it give dates in - -   manner lets see below 
time.strftime('%F')

'2023-09-22'

# timedelta 

Represents the difference between two datetime values (as days, seconds, and microseconds) by doing minus ,additon and etc

In [47]:
t1=datetime(2022,1,1,8,15)
t2=datetime(2023,1,1)

In [48]:
type(t1)

datetime.datetime

In [49]:
type(t2)

datetime.datetime

In [50]:
# see time difference between this two t1 and t2
result=t2-t1
result

datetime.timedelta(days=364, seconds=56700)

As we can see getting difference between two dateand time its automaticaly given timedelta in output

In [51]:
result.days

364

In [52]:
result.seconds

56700

In [53]:
# checking the result data type
type(result)

datetime.timedelta

In [54]:
#fetching the current datetime 
t1=datetime.now()
print(t1)

2023-09-22 23:22:46.250248

In [55]:
# adding five days in t1 variable 
add=t1+5

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'int'

Yes, its give error if we want to add some more days in given day then we have to just import timedelta library

In [56]:
from datetime import timedelta
add=t1+timedelta(4)

In [57]:
print(add)

2023-09-26 23:22:46.250248

As we can see its easily added  and now showing date is 24

In [58]:
# fetching the day from the add variable
add.day

26

In [59]:
# fetching the day from the t1 variable

t1.day

22

In [60]:
# now performing the minus to get the actual days as we are  running four days before
diiference=add-t1

In [61]:
diiference

datetime.timedelta(days=4)

In the above all the function are good but there is things to rember a lot , so there is one more library i.e. dateutil.parser import parse in this easily string date can be  formated into datetime object by using parse.

# dateutil.parser import parse libary 
It used to format string date into datetime object like strptime but in strptime we have to write some codes parse is seasier then it.

dateutil is capable of parsing almost any human-intelligible date representation:

In [62]:
# import  dateutil.parse  libaray
from dateutil.parser import parse

In [63]:
# using dateutil parse lib
parse('20 september 2023')

datetime.datetime(2023, 9, 20, 0, 0)

In [64]:
#we can pasre  in variable also
date=parse('20 october 2023')

In [65]:
date

datetime.datetime(2023, 10, 20, 0, 0)

In [66]:

date = parse("4th of July, 2015")
date

datetime.datetime(2015, 7, 4, 0, 0)

In [67]:
# checking the datatype
type(date)

datetime.datetime

In [68]:
date.strftime('%A')

'Saturday'

dateutil is capable of parsing almost any human-intelligible date representation: like in timing AM or PM

In [69]:
# parseing the datetime with am and pm 
am=parse('10 september 2023 083003 AM')
am

datetime.datetime(2023, 9, 10, 8, 30, 3)

In [70]:
# fetching the day
am.strftime('%A')

'Sunday'

In [71]:
#fetching   whether its pm or am 
am.strftime('%p')

'AM'

In [72]:
oh=parse(' october 20 2023 10:45 PM')
oh

datetime.datetime(2023, 10, 20, 22, 45)

In [73]:
# fetching the am or pm at this time
oh.strftime('%A')

'Friday'

In [74]:
# by doing these we can get in local date time reperesenattion
oh.strftime('%c')

'Fri Oct 20 22:45:00 2023'

In international locales, day appearing before month is very common, so you can pass
dayfirst=True to indicate this:

In [75]:
dayfirst=parse('20/09/2023',)
dayfirst

datetime.datetime(2023, 9, 20, 0, 0)

In [76]:
type(dayfirst)

datetime.datetime

In [77]:

dayfirst=parse('20/09/2023',dayfirst=True)
dayfirst

datetime.datetime(2023, 9, 20, 0, 0)

# Dates and times in Pandas:

Timestamp object, which combines the ease of use of datetime and dateutil with the efficient storage.

From a group of these Timestamp objects,Pandas can construct a DatetimeIndex that can be used to index data in a Series or
DataFrame.

For example, we can use Pandas tools to repeat the demonstration from above. We can parse a flexibly formatted string date, and use format codes to output the day of the week

In [78]:
# Using the pandas tool to demonstrate datetime object
import pandas as pd

In [79]:
# using pd.to_datetime() 
date=pd.to_datetime('20 september 2023')
date

Timestamp('2023-09-20 00:00:00')

As we see above output it give us time stamp

In [80]:
# fetching day on above date
date.strftime('%A')

'Wednesday'

In [81]:
 type(date)

pandas._libs.tslibs.timestamps.Timestamp

In [82]:
t1=['20/10/2023', '30/10/2023']
t1

['20/10/2023', '30/10/2023']

In [83]:
pd.to_datetime(t1)

C:\Users\Asus\AppData\Local\Temp\ipykernel_25792\3917335952.py:1: UserWarning: Parsing '20/10/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(t1)
C:\Users\Asus\AppData\Local\Temp\ipykernel_25792\3917335952.py:1: UserWarning: Parsing '30/10/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(t1)

DatetimeIndex(['2023-10-20', '2023-10-30'], dtype='datetime64[ns]', freq=None)

Giving warning so we have to pass this infer_datetime_format=True

In [84]:
pd.to_datetime(t1,infer_datetime_format=True)

DatetimeIndex(['2023-10-20', '2023-10-30'], dtype='datetime64[ns]', freq=None)

# Pandas Time Series: Indexing by Time

Where the Pandas time series tools really become useful is when you begin to index
data by timestamps. For example, we can construct a Series object that has timeindexed data:

In [85]:
dates=pd.DatetimeIndex(['20/09/2022','21/09/2022',
                      '24/09/2023','25/09/2023'])
data=pd.Series([1,2,3,4],index=dates)
data

C:\Users\Asus\anaconda3\an\lib\site-packages\pandas\core\indexes\datetimes.py:327: UserWarning: Parsing '20/09/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dtarr = DatetimeArray._from_sequence_not_strict(
C:\Users\Asus\anaconda3\an\lib\site-packages\pandas\core\indexes\datetimes.py:327: UserWarning: Parsing '21/09/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dtarr = DatetimeArray._from_sequence_not_strict(
C:\Users\Asus\anaconda3\an\lib\site-packages\pandas\core\indexes\datetimes.py:327: UserWarning: Parsing '24/09/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dtarr = DatetimeArray._from_sequence_not_strict(
C:\Users\Asus\anaconda3\an\lib\site-packages\pandas\core\indexes\datetimes.py:327: UserWarning: Parsing '25/09/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dtarr = DatetimeArray._from_sequence_not_strict(

2022-09-20    1
2022-09-21    2
2023-09-24    3
2023-09-25    4
dtype: int64

In [86]:
# slicing the data acording to dates i.e 21 to 25 
data['2023-09-21':'2023-09-25']

2023-09-24    3
2023-09-25    4
dtype: int64

In [87]:
# slicing the data acording to dates i.e 20 to 24
data['2023-09-20':'2023-09-24']

2023-09-24    3
dtype: int64

In [88]:
# we can slicing the data acc. to year also
data['2023']

2023-09-24    3
2023-09-25    4
dtype: int64

In [89]:
# checking the datatype of data
type(data)

pandas.core.series.Series

In [90]:
# now making  a datetime list and storing in a variable datetime
from datetime import datetime
datetime=([datetime(20,9,23),datetime(21,10,23),datetime(22,11,23),datetime(23,12,23)])
datetime

[datetime.datetime(20, 9, 23, 0, 0),
 datetime.datetime(21, 10, 23, 0, 0),
 datetime.datetime(22, 11, 23, 0, 0),
 datetime.datetime(23, 12, 23, 0, 0)]

In [91]:
# the datatype is list to cehck we can move further
type(datetime)

list

In [92]:

series=pd.Series(np.arange(4),index=datetime)
series

NameError: name 'np' is not defined

In [93]:
#cecking the datatype of series
type(series)

NameError: name 'series' is not defined

In [94]:
series.index

NameError: name 'series' is not defined

In [95]:
 series + series[::2]

NameError: name 'series' is not defined

In [96]:
series.index.dtype

NameError: name 'series' is not defined

# Pandas  pd.to_datetime()

syntax:- Signature:
pd.to_datetime(
    arg: 'DatetimeScalarOrArrayConvertible',
    errors: 'str' = 'raise',
    dayfirst: 'bool' = False,
    yearfirst: 'bool' = False,
    utc: 'bool | None' = None,
    format: 'str | None' = None,
    exact: 'bool' = True,
    unit: 'str | None' = None,
    infer_datetime_format: 'bool' = False,
    origin='unix',
    cache: 'bool' = True,) 
    
    
 it is very flexible to use in  pd.to_datetime() you can pass any kind of dateformat it will give you in datetimeindex lets see in example

In [97]:
# taking a variable dates which store all the dates in list
dates=['20-09-2023','4 august 2024','15 dec 2023','24/09/23','20230209']
display(dates,type(dates))

['20-09-2023', '4 august 2024', '15 dec 2023', '24/09/23', '20230209']

list

In [98]:
# these dates varible passing in  pd.to_datetime() which gives datetimeindex lets see below example
datetimeindex=pd.to_datetime(dates)
datetimeindex

C:\Users\Asus\AppData\Local\Temp\ipykernel_25792\3814027801.py:2: UserWarning: Parsing '20-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  datetimeindex=pd.to_datetime(dates)

DatetimeIndex(['2023-09-20', '2024-08-04', '2023-12-15', '2023-09-24',
               '2023-02-09'],
              dtype='datetime64[ns]', freq=None)

As we can see in the above output it has  '20230209','15 dec 2023' type of date into the datetime index

In [99]:
# type of data
type(datetimeindex)

pandas.core.indexes.datetimes.DatetimeIndex

Us we know in US they use mm/dd/yyyy datefromate and in europe they use dd/mm/yyyy dateformat and in india we follow europe datetime fromat

In [100]:
# below time format is in mm/dd/yyyy 
pd.to_datetime('09/10/2023')

Timestamp('2023-09-10 00:00:00')

In [101]:
# converting the above datetime format into the dd/mm/yyyy by passing dayfirst=True
pd.to_datetime('09/10/2023',dayfirst=True)

Timestamp('2023-10-09 00:00:00')

In [102]:
# we have string in the dates variable then it give variable to 
dates=['20-09-2023','4 august 2024','15 dec 2023','24/09/23','20230209','abc','bhda']
pd.to_datetime(dates)

C:\Users\Asus\AppData\Local\Temp\ipykernel_25792\3581391213.py:3: UserWarning: Parsing '20-09-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(dates)

ParserError: Unknown string format: abc

As we mentine in the comment it will give an error it has given an error also to deal with this type of error we simply pass the errors=coerce lets see in the below exapmle

In [ ]:
pd.to_datetime(dates,errors='coerce')

See as we have mentioned it has given an Nat value that is NaT which is not a time it is equalvalent to NaN not a number

# pd.to_period() function 

Any DatetimeIndex can be converted to a PeriodIndex with the to_period() func‐tion with the addition of a frequency code; here we’ll use 'D' to indicate daily frequency:

it mean by passing the week days in to_period() we can get days on that date

In [103]:
# created a new variable to deall with period
newdate=['230425','12 september 2023','dhh']
newdate

['230425', '12 september 2023', 'dhh']

In [104]:
pd.to_datetime(newdate,errors='coerce')

DatetimeIndex(['2025-04-23', '2023-09-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [105]:
# using .to_period()
dates.to_period('D')

AttributeError: 'list' object has no attribute 'to_period'

In [106]:
# here it will extract year and month
dates.to_period('M')

AttributeError: 'list' object has no attribute 'to_period'

In [107]:
# here it will  extract year
dates.to_period('Y')

AttributeError: 'list' object has no attribute 'to_period'

# Regular sequences: pd.date_range()

pd.date_range() is used to provide range of the date by passing start and endpoint it will also work by providing startpoint and period period an dby default its give frequency in 'D' that is days.

syntax pd.date_range(
    start=None,
    end=None,
    periods=None,
    freq=None,
    tz=None,
    normalize: 'bool' = False,
    name: 'Hashable' = None,
    closed: 'str | None | lib.NoDefault' = <no_default>,
    inclusive: 'str | None' = None,
    **kwargs,
)

In [108]:
# using pd.date_range function for the date
range=pd.date_range(start='21/09/23', end='30/09/23')
range

DatetimeIndex(['2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30'],
              dtype='datetime64[ns]', freq='D')

In [109]:
# checking the data type 
type(range)

pandas.core.indexes.datetimes.DatetimeIndex

Alternatively, the date range can be specified not with a start- and endpoint, but with
a startpoint and a number of periods:

By passing periods we can get number of day

In [110]:
# making use of periods 
pd.date_range('21/09/23', periods=10)

DatetimeIndex(['2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30'],
              dtype='datetime64[ns]', freq='D')

You can modify the spacing by altering the freq argument, which defaults to D. For
example, here we will construct a range of hourly timestamps:

In [111]:
# using freq in hours 
pd.date_range('21/09/23',periods=5,freq='H')

DatetimeIndex(['2023-09-21 00:00:00', '2023-09-21 01:00:00',
               '2023-09-21 02:00:00', '2023-09-21 03:00:00',
               '2023-09-21 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [112]:
# using freq to get year
pd.date_range('21/09/23',periods=4,freq='Y')

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31'], dtype='datetime64[ns]', freq='A-DEC')

To create regular sequences of period or time delta values, the very similar
pd.period_range() and pd.timedelta_range() functions are useful. Here are some
monthly periods:
    
regular sequence mean in form of same date as you have passed at  the startpoint it will create in same sequence using pd.period_range()

In [113]:
# getting only business end of month by passing 'BM' in freq it will extract only from the end of month day i.e last working day from everymonthhe first moth and 31 from the next month
pd.date_range('1/1/23','1/1/24',freq='BM')

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-29', '2023-10-31', '2023-11-30', '2023-12-29'],
              dtype='datetime64[ns]', freq='BM')

Simply it will extract lastday from the every month

date_range by default preserves the time (if any) of the start or end timestamp

Basically it take same time whatever in the start or endpoint

In [114]:
# showing that date_range() preserve time from the given end or startingpoitn 
pd.date_range('21/09/23 9:30:02 ','30/09/23')

DatetimeIndex(['2023-09-21 09:30:02', '2023-09-22 09:30:02',
               '2023-09-23 09:30:02', '2023-09-24 09:30:02',
               '2023-09-25 09:30:02', '2023-09-26 09:30:02',
               '2023-09-27 09:30:02', '2023-09-28 09:30:02',
               '2023-09-29 09:30:02'],
              dtype='datetime64[ns]', freq='D')

In [115]:
pd.date_range('21/09/23 10:6:8','30/09/23')

DatetimeIndex(['2023-09-21 10:06:08', '2023-09-22 10:06:08',
               '2023-09-23 10:06:08', '2023-09-24 10:06:08',
               '2023-09-25 10:06:08', '2023-09-26 10:06:08',
               '2023-09-27 10:06:08', '2023-09-28 10:06:08',
               '2023-09-29 10:06:08'],
              dtype='datetime64[ns]', freq='D')

In [116]:
# fetching the last day of everymonth  2 months 
pd.date_range('01/09/23',periods=6,freq='2M')

DatetimeIndex(['2023-01-31', '2023-03-31', '2023-05-31', '2023-07-31',
               '2023-09-30', '2023-11-30'],
              dtype='datetime64[ns]', freq='2M')

In [117]:
# getting a time zon by passing in  tz  i.e time zone
pd.date_range('10/9/23', periods=10,tz='Asia/Tokyo')

DatetimeIndex(['2023-10-09 00:00:00+09:00', '2023-10-10 00:00:00+09:00',
               '2023-10-11 00:00:00+09:00', '2023-10-12 00:00:00+09:00',
               '2023-10-13 00:00:00+09:00', '2023-10-14 00:00:00+09:00',
               '2023-10-15 00:00:00+09:00', '2023-10-16 00:00:00+09:00',
               '2023-10-17 00:00:00+09:00', '2023-10-18 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='D')

Sometimes you will have start or end dates with time information but want to generate
a set of timestamps normalized to midnight as a convention. To do this, there is a
normalize option:

In [118]:
# using normalize 

pd.date_range('21/09/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25'],
              dtype='datetime64[ns]', freq='D')

# pd.period_range()

To create regular sequences of period or time delta values, the very similar
pd.period_range() and pd.timedelta_range() functions are useful.


sytnax pd.period_range(
    start=None,
    end=None,
    periods: 'int | None' = None,
    freq=None,
    name=None,
)

In [119]:
# creating a regular sequence
pd.period_range('2023/09',periods=10, freq='Y')

PeriodIndex(['2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030',
             '2031', '2032'],
            dtype='period[A-DEC]')

we can see in the output its in a regular sequence manner at freq Y and its  has given only year rather then whole date which is good its a benefits of using pd.period_range we can change our freqas we want or wish

In [120]:
# creating a regular sequence with months
pd.period_range('2023-09', periods=8, freq='M')

PeriodIndex(['2023-09', '2023-10', '2023-11', '2023-12', '2024-01', '2024-02',
             '2024-03', '2024-04'],
            dtype='period[M]')

using pd.timedelta_range we can get  a sequence of durations increasing by an hour: 

Basically it will give us duration between the dates periods.

In [121]:
# pd.timedelta_range() performing
pd.timedelta_range('0',periods=8,freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [122]:
#getting year 
pd.period_range('2021/09/5',freq='Y',periods=12)

PeriodIndex(['2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028',
             '2029', '2030', '2031', '2032'],
            dtype='period[A-DEC]')

In [123]:
# getting Quarter wise 
pd.period_range('2021/09/5',freq='Q',periods=12)

PeriodIndex(['2021Q3', '2021Q4', '2022Q1', '2022Q2', '2022Q3', '2022Q4',
             '2023Q1', '2023Q2', '2023Q3', '2023Q4', '2024Q1', '2024Q2'],
            dtype='period[Q-DEC]')

In [124]:
# fetching  months from the quarter months
pd.period_range(pd.Period('2023Q1',freq='Q'),pd.Period('2023Q2',freq='Q'),freq='M')

PeriodIndex(['2023-03', '2023-04', '2023-05', '2023-06'], dtype='period[M]')

# Frequencies and Date Offsets

In this we can see what else can we pass more in freq parameter using date_range()

In [125]:
# getting the diffrence of 4 hours  between datetime  
pd.date_range('21/09/23', periods=8,freq='4H')

DatetimeIndex(['2023-09-21 00:00:00', '2023-09-21 04:00:00',
               '2023-09-21 08:00:00', '2023-09-21 12:00:00',
               '2023-09-21 16:00:00', '2023-09-21 20:00:00',
               '2023-09-22 00:00:00', '2023-09-22 04:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [126]:
# getting the diffrence of 130 min between datetime  

pd.date_range('21/09/23', periods=8,freq='130min')

DatetimeIndex(['2023-09-21 00:00:00', '2023-09-21 02:10:00',
               '2023-09-21 04:20:00', '2023-09-21 06:30:00',
               '2023-09-21 08:40:00', '2023-09-21 10:50:00',
               '2023-09-21 13:00:00', '2023-09-21 15:10:00'],
              dtype='datetime64[ns]', freq='130T')

In [127]:
# using  passing freqWOM it will give week of the month 
pd.date_range('21/09/23', periods=8,freq=' WOM-4Fri')

DatetimeIndex(['2023-09-22', '2023-10-27', '2023-11-24', '2023-12-22',
               '2024-01-26', '2024-02-23', '2024-03-22', '2024-04-26'],
              dtype='datetime64[ns]', freq='WOM-4FRI')

# Shifting (Leading and Lagging) Data

In Shifting (Leading and Lagging) Data  we make use of shift().

Shift()method is used for moving data backward and forward through time.

Both Series and DataFrame have a shift method for doing naive shifts forward or backward.

syntax:
okay12.shift(
    periods=1,
    freq: 'Frequency | None' = None,
    axis: 'Axis' = 0,
    fill_value=<no_default>,)

In [128]:
# genrating date range using through  pd.date_range() method

shift=pd.date_range(start='23/09/23', periods=10)
shift

DatetimeIndex(['2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', freq='D')

In [129]:
# creating a dataframe 
hey=pd.DataFrame({'Price':[120,13,1400,250,34,21,400,560,23,9000]})
okay12=hey.set_index(shift)
okay12

            Price
2023-09-23    120
2023-09-24     13
2023-09-25   1400
2023-09-26    250
2023-09-27     34
2023-09-28     21
2023-09-29    400
2023-09-30    560
2023-10-01     23
2023-10-02   9000

In [130]:
# now shifting the price
okay12.shift(1)

             Price
2023-09-23     NaN
2023-09-24   120.0
2023-09-25    13.0
2023-09-26  1400.0
2023-09-27   250.0
2023-09-28    34.0
2023-09-29    21.0
2023-09-30   400.0
2023-10-01   560.0
2023-10-02    23.0

The above shifting is in the forward direction if we want do do shifting in the backward direction then we have to pass simply shift(-1) instead of shift(1).

We can also shift 2 steps by simply passing 2 in the shift() method like shift(2)

In [131]:
# shifting the price to step forward 
okay12.shift(2)

             Price
2023-09-23     NaN
2023-09-24     NaN
2023-09-25   120.0
2023-09-26    13.0
2023-09-27  1400.0
2023-09-28   250.0
2023-09-29    34.0
2023-09-30    21.0
2023-10-01   400.0
2023-10-02   560.0

As result we can see its forwarded two step down as you compare with okay1 df then you will see that whatever price on first index 120 after doing shifting two step down at index 3 yo can see 120 is shifted at index 3.

In [132]:
# now using the backward steps 
okay12.shift(-1)

             Price
2023-09-23    13.0
2023-09-24  1400.0
2023-09-25   250.0
2023-09-26    34.0
2023-09-27    21.0
2023-09-28   400.0
2023-09-29   560.0
2023-09-30    23.0
2023-10-01  9000.0
2023-10-02     NaN

As backward shift is vice versa of  the forward shift as we can see we have shifted one step backward at last index if you see in output the price column is shifted towards upper side .

In [ ]:
okay12.shift(-2)

In [ ]:
# adding one more column in okay1 df
okay12['Forward steps']=okay12.shift(1)

In [ ]:
okay12

In [ ]:
okay12['Forward steps']=okay12['Price'].shift(2)
okay12

In [ ]:
okay12['Forward steps']=okay12['Price'].shift(5)
okay12

In [ ]:
# adding one more column for the backward direction steps
okay12['backward steps']=okay12['Price'].shift(-1)
okay12

In [ ]:
okay12['backward steps']=okay12['Price'].shift(-2)
okay12

In [ ]:
okay12['backward steps']=okay12['Price'].shift(-5)
okay12

# while passing in freq parameter it will do changes in the index

As if we pass any date offeset in the freq then it will change in the index values for more information visit this link
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shift.html

In [ ]:
# extracting the month end in each month and as i ahve explainedd it will  show changes in the index
change_month=okay12.shift(1,freq='M')
display(change_month,okay12)

In [ ]:
#Extracting the  Month start i.e first date of  months 
okay12.shift(2,freq='MS')

In [ ]:
# extracting the QS Quarter start
okay12.shift(3,freq='QS')

In [ ]:
# extracting the W-SUN week sunday
okay12.shift(1,freq='W-SUN')

In [ ]:
# extracting the time 1:30 i.e 90T
okay12.shift(1,freq='90T')

In [ ]:
okay12.shift(1,freq='120T')

# Shifting dates with offsets

The pandas date offsets can also be used with datetime or Timestamp objects:

A DateOffset is an object that represents a standard kind of date increment. For example, you could use a DateOffset to represent the fact that you want to increment a date by one day, one week, or one year. DateOffsets are similar to relativedelta objects in that they can be used to specify keyword args like “days,” “weeks,” or “years.”

In [ ]:
# fetching current time
from datetime import datetime
time=datetime.now()
time

In [ ]:
time.strftime('%A')

In [ ]:
# importing from pandas.tseries.offsets import Day, MonthEnd
from pandas.tseries.offsets import*

In [ ]:
# shifting the day to next working day bussines day 
now=time+3*Day()
now

In [ ]:
now.day_name()

As we know today is friday tommorow is weekend so we have simply added three days in the the so it has benn given nex upcoming working day or bussines day.

In [ ]:
# shifting the day to next working day bussines day 
now=time+4*Day()
now

In [ ]:
now.day_name()

In [ ]:
# shifting the  hours of time at 1 hrs forward  
now=time+Hour()
now

If you match time with time variable then you absorb that hours has been moved to 1 hrs

In [ ]:
# shifting the  hours of time at 2 hrs forward  
now=time+Hour(2)
now

In [ ]:
# shifting the  hours of time at 2 hrs backward from the current time 
now=time+Hour(-2)
now

In [ ]:
# shifting the two minutes from the current time  minutes  
now=time+Minute(2)
now

In [ ]:
# shifting the  two second from the current time  seconds  
now=time+Second(2)
now

In [ ]:
# shifting the to the next from the month  

now=time+MonthEnd()
now

# making use of rollback and rollforward

In [ ]:
dates=datetime(2023,9,22)

In [ ]:
type(dates)

In [ ]:
# shifting the to the 2 month from the current  month  

hey=dates+MonthEnd(2)
hey

In [ ]:
hey.month_name()

In [ ]:
 # using the rollback and roll forward to do same things 
take=datetime.now()
take

In [ ]:
take.strftime('%A')

In [ ]:
# forwarding  monthEnd using rollforward
end=pd.offsets.MonthEnd().rollforward(take)
end

In [ ]:
# forwarding the  month to next begining of the moth  MonthBegin from the current to next month 

next=pd.offsets.MonthBegin().rollforward(take)
next

In [ ]:
# forwarding the weekof month next month 
Week=pd.offsets.WeekOfMonth().rollforward(take)
Week

# Using rollbackward

In [ ]:
next=pd.offsets.MonthBegin().rollback(take)
next

In [ ]:
hrs=pd.offsets.MonthEnd().rollback(take)
hrs

# Periods and Period Arithmetic

Periods represent time spans, like days, months, quarters, or years. The Period class
represents this data type, requiring a string or integer and a frequency

In [ ]:
# making a period of annuals 

annual=pd.Period('2023',freq='A-DEC')
annual

In [ ]:
type(annual)

the 'A-DEC' means that the period is annual, which ends in December.

We can increase or decrease the periods of the freqency  by performing the arthmetic operation .

If two periods have the same frequency, their difference is the number of units between

for example suppose we have two periods we can do minus then there is changes in the unit only because the frequecncy is same 

2015-2020=5 the 5 is number of  units

In [ ]:
# increasing the number of periods 

annual+5

In [ ]:
# decreasing the number of periods 

annual-3

In [14]:
# make one more period to show diference unit number it is year gap in two periods

hey=pd.Period('2030',freq='A-DEC')-annual
hey

NameError: name 'pd' is not defined

In [ ]:
type(hey)

# PeriodIndex

The PeriodIndex class stores a sequence of periods and can serve as an axis index in
any pandas data structure:

To make periodindex first we have to make series using  nummpy and  then  we have to pass  periodindex as a index

In [ ]:
# creating a period range using pd.period_range()
range=pd.period_range('2023/09/1',periods=10)
range

In [ ]:
# making a index of range variable
import numpy as np
index=pd.Series(np.random.randn(10),index=range)
index

As in the above output we make period of date as a index and storing series as value in it.

In [ ]:
# extracting the 5 dates and it values from the above output 
index['2023-09-01' : '2023-09-05']

In [ ]:
type(index)

In [ ]:
type(range)

If we have make any date value into periodindex then simply by calling periodindex() and pass the  date value in periodindex ,lets see an exaple on this.

In [ ]:
# creating a  simple dates range to understand periodindex
value_of_date = ['2023/01/2','2023/08/3','2023/05/9','2023/07/4','2023/09/7']
print(value_of_date)

In [ ]:
type(value_of_date)

In [ ]:
# making index of the above output

making_index = pd.PeriodIndex(value_of_date,freq='M')
making_index

In [ ]:
# checking the data type
type(making_index)

# Period Frequency Conversion using df.asfreq() method 

Periods and PeriodIndex objects can be converted to another frequency using their 
asfreq method.

The pandas.Period.asfreq() method is used to convert  Period to desired frequency, at the start or end of the interval.

For example , suppose we had an annual period and wanted to convert
it into a monthly period either at the start or end of the year. This is fairly straightforward:

Syntax:-

DataFrame.asfreq(freq, method=None, how=None, normalize=False, fill_value=None)

In [ ]:
# making a annual period i.e from satrting month  to  ending month 

create = pd.Period('2023', freq='A-DEC') 
create

In [ ]:
# now using pandas.period.asfreq method() to convert annual periods into months
convert = create.asfreq(freq='M',how='start')
convert

Here we have converted  annual periods frequency into  month frequency

In [15]:
# converting into the day frequency
day=create.asfreq('D','s')
day

NameError: name 'create' is not defined

As we can use small 's','e' for start an end point

In [16]:
# converting into the day frequency and when will be day end
day_end=create.asfreq('D','e')
day_end

NameError: name 'create' is not defined

In [ ]:
# converting frequency into hrs starting day
day_hrs=create.asfreq('H','s')
day_hrs

In [ ]:
# converting frequency into hrs ending day
day_hrs_end = create.asfreq('H','e')
day_hrs_end

In [ ]:
# now creating a period range i.e period index data type
range=pd.period_range('2023-09-1', periods=12,freq='D')
display(type(range),range)

In [ ]:
# putting periods of range  into series and making range variable as index

series=pd.Series(np.arange(12),index=range)
series

In [ ]:
# now converting the  day frequency into hours at starting point by using asfreq() method 
Hours_con = series.asfreq('H',how='start')
Hours_con

See the frequency is converted into hours at starting time

In [ ]:
# now converting the  day frequency into hours at ending point by using asfreq() method 
Hours_con = series.asfreq('H',how='end')
Hours_con

In [ ]:
See the frequency is converted into hours at ending time

# Quarterly Period Frequencies.

There  is 12 month in every year the term Quarterly  is used to divide 12 months in 4 quarterly this term is most used in th finance,bussines etc.

Much quarterly data is reported relative to a fiscal year end, typically the last calendar or business day of one of the 12 months of the year.

The period 2012Q4 has a different meaning depending on fiscal year end. pandas supports all 12 possible quarterly frequencies as Q-JAN through Q-DEC

In [17]:
# quarter period 
qrt=pd.Period('2013Q4',freq='Q-JAN')
qrt

NameError: name 'pd' is not defined

In the case of fiscal year ending in January, 2012Q4 runs from November through January, which you can check by converting to daily frequency.

In [18]:
# converting the Quarter into day  from starting  using asfreq()
qrt.asfreq('D','s')

NameError: name 'qrt' is not defined

In [ ]:
# converting the Quarter into day  from ending  using asfreq()
qrt.asfreq('D','e')

In [ ]:
# Generating quarterly ranges works using p.period_range()
new = pd.period_range('2023Q3', '2024Q4',freq='Q-JAN')
new

In [ ]:
# putting into series 
seq = pd.Series(np.arange(len(new)),index=new)
seq

In [ ]:
# decreasing one day from qrt variable and performing time task on it
p4 = (qrt.asfreq('B','e')-1).asfreq('T', 's') + 16 * 60
p4

In [ ]:
# converting into timestamp
p4.to_timestamp()

In [ ]:
p41 = (new.asfreq('B','e')-1).asfreq('T', 's') + 16 * 60
p41

In [ ]:
seq.index=p41.to_timestamp()
seq

# Converting Timestamps to Periods (and Back)

In [ ]:
# making range oeriod so we can convert it.
md = pd.period_range('2021/1/1', periods=12, freq='D')
ts = pd.Series(np.arange(len(md)),index=md)
ts

In [ ]:
#Converting Timestamps to Periods (and Back)
pts=ts.to_timestamp()
pts

In [ ]:
pts=ts.to_period
pts